In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

In [2]:
def genrate_12_hours():
    time_zone = []
    
    def hourly_it(start, finish):
        while finish > start:
                start = start + timedelta(hours=1)
                yield start

    start = datetime.now().replace(minute=0, second=0, microsecond=0)
    finish = start + timedelta(days=30)
    for hour in hourly_it(start, finish):
        time_zone.append(hour)
    return pd.to_datetime(time_zone)

time = genrate_12_hours()
time

DatetimeIndex(['2023-07-19 18:00:00', '2023-07-19 19:00:00',
               '2023-07-19 20:00:00', '2023-07-19 21:00:00',
               '2023-07-19 22:00:00', '2023-07-19 23:00:00',
               '2023-07-20 00:00:00', '2023-07-20 01:00:00',
               '2023-07-20 02:00:00', '2023-07-20 03:00:00',
               ...
               '2023-08-18 08:00:00', '2023-08-18 09:00:00',
               '2023-08-18 10:00:00', '2023-08-18 11:00:00',
               '2023-08-18 12:00:00', '2023-08-18 13:00:00',
               '2023-08-18 14:00:00', '2023-08-18 15:00:00',
               '2023-08-18 16:00:00', '2023-08-18 17:00:00'],
              dtype='datetime64[ns]', length=720, freq=None)

In [3]:
finish = time[-1]

data = pd.read_csv('plotting data/Full Data.csv')
len_data_we_have = len(data)
data['Date Time'] = pd.to_datetime(data['Date Time'])
start = data['Date Time'].iloc[-1].to_datetime64()
start

numpy.datetime64('2023-03-01T00:00:00.000000000')

In [4]:
finish

Timestamp('2023-08-18 17:00:00')

In [5]:
new_hours = []
while start < finish:
    start +=  np.timedelta64(1,'h')
    new_hours.append(start)
pd.to_datetime(new_hours)

DatetimeIndex(['2023-03-01 01:00:00', '2023-03-01 02:00:00',
               '2023-03-01 03:00:00', '2023-03-01 04:00:00',
               '2023-03-01 05:00:00', '2023-03-01 06:00:00',
               '2023-03-01 07:00:00', '2023-03-01 08:00:00',
               '2023-03-01 09:00:00', '2023-03-01 10:00:00',
               ...
               '2023-08-18 08:00:00', '2023-08-18 09:00:00',
               '2023-08-18 10:00:00', '2023-08-18 11:00:00',
               '2023-08-18 12:00:00', '2023-08-18 13:00:00',
               '2023-08-18 14:00:00', '2023-08-18 15:00:00',
               '2023-08-18 16:00:00', '2023-08-18 17:00:00'],
              dtype='datetime64[ns]', length=4097, freq=None)

In [6]:
pd.to_datetime(new_hours).to_frame().reset_index().iloc[:,1]

0      2023-03-01 01:00:00
1      2023-03-01 02:00:00
2      2023-03-01 03:00:00
3      2023-03-01 04:00:00
4      2023-03-01 05:00:00
               ...
4092   2023-08-18 13:00:00
4093   2023-08-18 14:00:00
4094   2023-08-18 15:00:00
4095   2023-08-18 16:00:00
4096   2023-08-18 17:00:00
Name: 0, Length: 4097, dtype: datetime64[ns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7638 entries, 0 to 7637
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7638 non-null   int64
 1   Date Time   7638 non-null   datetime64[ns]
 2   Solar Avg   7638 non-null   float64
 3   lag_1       7638 non-null   float64
 4   lag_2       7638 non-null   float64
 5   lag_3       7638 non-null   float64
 6   lag_4       7638 non-null   float64
 7   lag_5       7638 non-null   float64
 8   lag_6       7638 non-null   float64
 9   lag_7       7638 non-null   float64
 10  lag_8       7638 non-null   float64
 11  lag_9       7638 non-null   float64
 12  lag_10      7638 non-null   float64
 13  lag_11      7638 non-null   float64
 14  lag_12      7638 non-null   float64
 15  lag_13      7638 non-null   float64
dtypes: datetime64[ns](1), float64(14), int64(1)
memory usage: 954.9 KB

In [8]:
new_dates = pd.concat([data['Date Time'],pd.to_datetime(new_hours).to_frame().reset_index().iloc[:,1]]).reset_index().iloc[:,1]
new_data = new_dates.to_frame().rename(columns={0:'Date Time'})
new_data

                Date Time
0     2022-01-03 13:00:00
1     2022-01-03 14:00:00
2     2022-01-03 15:00:00
3     2022-01-03 16:00:00
4     2022-01-03 17:00:00
...                   ...
11730 2023-08-18 13:00:00
11731 2023-08-18 14:00:00
11732 2023-08-18 15:00:00
11733 2023-08-18 16:00:00
11734 2023-08-18 17:00:00

[11735 rows x 1 columns]

In [9]:
for col in data.iloc[:,2:].columns:
    new_data[col] = np.nan
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11735 entries, 0 to 11734
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date Time  11735 non-null  datetime64[ns]
 1   Solar Avg  0 non-null      float64
 2   lag_1      0 non-null      float64
 3   lag_2      0 non-null      float64
 4   lag_3      0 non-null      float64
 5   lag_4      0 non-null      float64
 6   lag_5      0 non-null      float64
 7   lag_6      0 non-null      float64
 8   lag_7      0 non-null      float64
 9   lag_8      0 non-null      float64
 10  lag_9      0 non-null      float64
 11  lag_10     0 non-null      float64
 12  lag_11     0 non-null      float64
 13  lag_12     0 non-null      float64
 14  lag_13     0 non-null      float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 1.3 MB

In [10]:
new_data.iloc[:len(data),1:] = data.iloc[:,2:]
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11735 entries, 0 to 11734
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date Time  11735 non-null  datetime64[ns]
 1   Solar Avg  7638 non-null   float64
 2   lag_1      7638 non-null   float64
 3   lag_2      7638 non-null   float64
 4   lag_3      7638 non-null   float64
 5   lag_4      7638 non-null   float64
 6   lag_5      7638 non-null   float64
 7   lag_6      7638 non-null   float64
 8   lag_7      7638 non-null   float64
 9   lag_8      7638 non-null   float64
 10  lag_9      7638 non-null   float64
 11  lag_10     7638 non-null   float64
 12  lag_11     7638 non-null   float64
 13  lag_12     7638 non-null   float64
 14  lag_13     7638 non-null   float64
dtypes: datetime64[ns](1), float64(14)
memory usage: 1.3 MB

In [ ]:
from tensorflow import keras

Ens = keras.models.load_model('models/Ens.h5')

In [12]:
last_index

7638

In [13]:
len(data_copy)

11735

In [11]:
from pickle import load
# load the scaler
target_scaler = load(open('scalers/target_scaler.pkl', 'rb'))
data_scaler = load(open('scalers/data_scaler.pkl', 'rb'))


data_copy = new_data.copy()
last_index = len(data)
for h in range(len(pd.to_datetime(new_hours).to_frame().reset_index().iloc[:,1])):
    data_copy.loc[last_index,'lag_13'] = data_copy.loc[last_index-1,'lag_12']
    data_copy.loc[last_index,'lag_12'] = data_copy.loc[last_index-1,'lag_11']
    data_copy.loc[last_index,'lag_11'] = data_copy.loc[last_index-1,'lag_10']
    data_copy.loc[last_index,'lag_10'] = data_copy.loc[last_index-1,'lag_9']
    data_copy.loc[last_index,'lag_9'] = data_copy.loc[last_index-1,'lag_8']
    data_copy.loc[last_index,'lag_8'] = data_copy.loc[last_index-1,'lag_7']
    data_copy.loc[last_index,'lag_7'] = data_copy.loc[last_index-1,'lag_6']
    data_copy.loc[last_index,'lag_6'] = data_copy.loc[last_index-1,'lag_5']
    data_copy.loc[last_index,'lag_5'] = data_copy.loc[last_index-1,'lag_4']
    data_copy.loc[last_index,'lag_4'] = data_copy.loc[last_index-1,'lag_3']
    data_copy.loc[last_index,'lag_3'] = data_copy.loc[last_index-1,'lag_2']
    data_copy.loc[last_index,'lag_2'] = data_copy.loc[last_index-1,'lag_1']
    data_copy.loc[last_index,'lag_1'] = data_copy.loc[last_index-1,'Solar Avg']
    data_copy.loc[last_index,'Solar Avg'] = target_scaler.inverse_transform(Ens.predict(data_scaler.transform(data_copy.iloc[last_index-1,2:].to_numpy().reshape(1, -1) )))[0][0]
    last_index += 1
data_copy.to_csv(f'plotting data/Ens_preds_to_plot.csv')

c:\Users\LAPTOP WORLD\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 1.1.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

NameError: name 'Ens' is not defined

In [ ]:
Ens_preds = pd.read_csv('plotting data/Ens_preds_to_plot.csv').iloc[len_data_we_have:,:].set_index('Date Time')
Ens_data = pd.read_csv('plotting data/Ens_preds_to_plot.csv').iloc[-(6*30*24):len_data_we_have+1,:].set_index('Date Time')
Ens_data = Ens_data.loc[Ens_data.index >= '2022-12-01']

In [ ]:
import plotly.graph_objs as go
from plotly.subplots import make_subplots

# Create three line plots with two lines each
trace5 = go.Scatter(x=Ens_data.index, y=Ens_data['Solar Avg'], name='Real Value', showlegend=True)
trace6 = go.Scatter(x=Ens_preds.index, y=Ens_preds['Solar Avg'], name='Ens Predictions', showlegend=True)

# Create a subplot with three rows and two columns
fig = make_subplots(rows=1, cols=1, y_title='Solar Price', x_title='Date')

# Add the six line plots to the subplot
fig.add_trace(trace5, row=1, col=1)
fig.add_trace(trace6, row=1, col=1)

# Update the subplot layout and legend
fig.update_layout(height=900, width=2000, title_text="Solar Predictions")
fig.update_layout(legend=dict(
    yanchor="top",
    y=0.99,
    xanchor="left",
    x=0.01
))

# Save the subplot to a file
fig.write_html("subplot.html")